{
  "camera": {
    "ip": "192.168.1.20",
    "rtspPort": 554,
    "rtspPath": "/1",
    "viscaPort": 5678,
    "username": "admin",
    "password": "admin"
  },
  "vidiu": {
    "ip": "192.168.1.30",
    "username": "admin",
    "password": "admin"
  },
  "server": {
    "port": 80
  },
  "mediamtx": {
    "webrtcPort": 8889,
    "rtspPort": 8554,
    "hlsPort": 8888
  }
}
