{
  "1": {
    "name": "Preset 1",
    "icon": ""
  },
  "2": {
    "name": "Preset 2",
    "icon": ""
  },
  "3": {
    "name": "Preset 3",
    "icon": ""
  },
  "4": {
    "name": "Preset 4",
    "icon": ""
  },
  "5": {
    "name": "Preset 5",
    "icon": ""
  },
  "6": {
    "name": "Preset 6",
    "icon": ""
  }
}
